@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    background: none;
}

p {
    text-wrap: pretty;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    overflow-wrap: break-word;
}

img, picture , video, canvas, svg {
    display: block;
}

input, button, textarea, select {
    font: inherit;
    outline: none;
}